<nav>
	<ul>
		<li><a href="/swipe">Voir des profils</a></li>
		<li><a href="/matchs">Mes matchs</a></li>
		<li><a href="/messages">Mes conversations</a></li>
		<li><a href="/stats">Mes statistiques</a></li>
		<li><a href="/">Mon compte</a></li>
		<li><a href="/disconnect">Déconnection</a></li>
	</ul>
</nav>