<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Matcha - mot de passe</title>
        <link href="/styles/styles.css" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
 
    <body>
        <div class="container-fluid">
            <div id="0">
               <% include partials/nav %>
            </div>
            <% if (same_pass == 'false') { %>
                    <div class="alert alert-danger alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        Les mots de passe ne sont pas identiques !
                    </div>
                <% } else if (old_password == 'false') { %>
                    <div class="alert alert-danger alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        L'ancien mot de passe est erroné !
                    </div>
                <% } else if (success == 'false') { %>
                    <div class="alert alert-success alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        Le mot de passe a bien été changé !
                    </div>
                    <% } else if (mdp_strength == 'false') { %>
                    <div class="alert alert-danger alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        Cet mot de passe n'est pas assez sécurisé : ton mot de passe doit comporter au moins 8 caractères, donc au moins un chiffre, une majuscule, une minuscule et un caractère spécial parmi ceux-ci : $@$!%*#?&.
                    </div>
                <% } %>
            <form action="change_password" method="post">
                <input type="hidden" name="name" value=<%= login %>>
                <input required type="password" name="mdp1" placeholder="Mot de passe actuel">
                <input required type="password" name="mdp2" placeholder="Nouveau mot de passe">
                <input required type="password" name="mdp3" placeholder="Confirme ton mot de passe">
                <input class="btn btn-dark" type="submit" name="submit" value="Changer mon mot de passe">
            </form>
        </div>
    </body>
    <script type="text/javascript">
        setInterval('load_geo()', 3000);
        function load_geo() {
            $.getJSON('http://www.geoplugin.net/json.gp?jsoncallback=?', function(data) {
                $.post('geo', data, function(data) {
                });
            });
        }
        setInterval('updateDiv()', 3000);
        function updateDiv() { 
            $( "#0" ).load(window.location.href + " #0" );
        }
    </script>
</html>