<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Matcha - mot de passe</title>
        <link href="/styles/styles.css" rel="stylesheet" type="text/css">
    </head>
 
    <body>
        <form action="change_password" method="post">
            <input type="password" name="old_pass">
            <input type="password" name="new_pass1">
            <input type="password" name="new_pass2">
            <input type="submit" name="submit" value="Changer mon mot de passe">
        </form>
    </body>
</html>