<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Matcha - crée ton compte</title>
        <link href="/styles/styles.css" rel="stylesheet" type="text/css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
 
    <body>
        <div class="container-fluid">
            <h1>Je crée mon compte</h1>
            <% if (user_exist == 'false') { %>
                <div class="alert alert-danger alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Ce pseudo est déjà utilisé.
                </div>
            <% } if (email_exist == 'false') { %>
                <div class="alert alert-danger alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Cet email est déjà utilisé.
                </div>
            <% } if (mdp_match == 'false') { %>
                <div class="alert alert-danger alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Les mots de passes ne sont pas identiques.
                </div>
            <% } if (mdp_length == 'false') { %>
                <div class="alert alert-danger alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Ce mot de passe est trop long.
                </div>
            <% } if (name == 'false') { %>
                <div class="alert alert-danger alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Ce pseudo est trop long.
                </div>
            <% } if (email == 'false') { %>
                <div class="alert alert-danger alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Cet email est trop long.
                </div>
            <% } if (login == 'false') { %>
                <div class="alert alert-danger alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Le login ne peut pas contenir de caractères spéciaux !
                </div>
            <% } if (mdp_strength == 'false') { %>
                <div class="alert alert-danger alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Cet mot de passe n'est pas assez sécurisé : ton mot de passe doit comporter au moins 8 caractères, donc au moins un chiffre, une majuscule, une minuscule et un caractère spécial parmi ceux-ci : $@$!%*#?&.
                </div>
            <% } %>%>
            <form method="post" >
                <input class="form-control" required type="text" name="user[first_name]" placeholder="Ton prénom"> <br>
                <input class="form-control" required type="text" name="user[last_name]" placeholder="Ton nom"> <br>
                <input class="form-control" required type="text" name="user[login]" placeholder="Ton pseudo"> <br>
                <input class="form-control" required type="email" name="user[email]"placeholder="Ton email"> <br>
                <input class="form-control" required type="password" name="user[mdp1]" placeholder="Ton mot de passe"> <br>
                <input class="form-control" required type="password" name="user[mdp2]" placeholder="Verifie ton mot de passe"> <br>
                <input class="btn btn-dark" type="submit" value="Créer mon compte">
            </form>
            <div class="progress">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width:40%">Promis, dans deux minutes c'est fini...</div>
            </div>
        </div>
    </body>
</html>