<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>MATCHA</title>
    <link href="styles.css" rel="stylesheet">
    </head>
 
    <body>
        <h1>Je crée mon compte</h1>
<form method="post" >
    <input type="text" name="user[first_name]" placeholder="Ton prénom"> <br>
    <input type="text" name="user[last_name]" placeholder="Ton nom"> <br>
    <input type="text" name="user[login]" placeholder="Ton pseudo"> <br>
    <input type="email" name="user[email]"placeholder="Ton email"> <br>
    <input type="password" name="user[mdp1]" placeholder="Ton mot de passe"> <br>
    <input type="password" name="user[mdp2]" placeholder="Verifie ton mot de passe"> <br>
    <input type="submit" value="Créer mon compte">
</form>
    </body>
</html>