<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Matcha - Mot de passe oublié</title>
        <link href="/styles/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>Mot de passe oublié</h1>
        <% if (email == 'false') { %>
            <p class="alert_message">Cet email n'existe pas. Vérifie ton email ou inscris-toi.</p>
        <% } %>
        <p>Ecris ton addresse pour recevoir une email de réinitialisation de mot de passe.</p>
        <form action="/reset_password" method="post">
            <input type="email" name="email" placeholder="Ton email">
            <input type="submit" value="Réinitialiser mon mot de passe">
        </form>
    </body>
</html>