<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Matcha - Parcourir les profils</title>
    <link href="styles.css" rel="stylesheet">
    </head>
 
    <body>
    	<% include partials/nav %>
        <h1>Propositions pour <%= infos.first_name %></h1>
        <form action="/new_message" method="post">

        </form>
    </body>
</html>