.account_image {
	max-width: 300px;
}

.modify_button {
	transition: box-shadow .3s;
	max-width: 40px;
}

.modify_button:hover {
	box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.alert_message {
	color: red;
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
/*  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
}

.popup_div {
    position: fixed;
    margin: auto;
}

/* The actual popup */
.popup .popup_div {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  margin: auto;
}

/* Popup arrow */
.popup .popup_div::after {
  content: "";
  position: absolute;
  margin: auto;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/**********************************/