.account_image {
	max-width: 400px;
}

.modify_button {
	transition: box-shadow .3s;
	max-width: 40px;
}

.modify_button:hover {
	box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.alert_message {
	color: red;
}

.new_notification {
  color: red;
}

/* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: 100%;
}

/* Set a background image by replacing the URL below */
body {
  background: url('/resources/wallpaper.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
}

.container-fluid {
  text-align: center;
}

.form-control {
  text-align: center;
}

.center_div {
  text-align:center;
}

.vertical_align {
  margin: 0;
  position: absolute;
  top: 20%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.div_center{
  position:relative;
  bottom: 0px;
  left: 50%;
  margin-left: -50px;
}

.carte {
  max-width: 400px;
  max-height: auto;
}

.card {
  min-width:250px;
}

.carte_button {
  position:absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -50px;
  right: 50%;
  margin-right: -50px;
}

.img_messages {
  width: 60px;
  height: 60px;
}